<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import ComicCard from "../../components/comics/ComicCard.vue";
import marvelAccessor from "../../../application/backend/data/MarvelAccessor";
@Component({
  components: {
    ComicCard
  }
})
export default class ComicContainer extends Vue {
  private comics: any[];

  constructor() {
    super();
    this.comics = [];
  }

  created() {
    this.getComics();
  }

  getComics() {
    this.comics = [];
    marvelAccessor
      .getAllComics()
      .then(response => (this.comics = response.data.data.results),
      );
  }
}
</script>

<style scoped>
#comicContainer {
  display: grid;
  grid-template-columns: auto auto;
}
#barsSection{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
</style>

<template>
  <div>
    <div id="comicContainer">
      <div v-for="comic in comics" :key="comic.id">
        <ComicCard :identifier="comic.id" />
      </div>
    </div>
  </div>
</template>