<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import SuperheroCard from "../../components/comics/SuperheroCard.vue";
import marvelAccessor from "../../../application/backend/data/MarvelAccessor";
@Component({
  components: {
    SuperheroCard
  }
})
export default class SuperheroContainer extends Vue {
  private characters: any[];

  constructor() {
    super();
    this.characters = [];
  }

  created() {
    this.getCharacters();
  }

  getCharacters() {
    this.characters = [];
    marvelAccessor
      .getAllCharacters()
      .then(response => (this.characters = response.data.data.results),
      );
  }
}
</script>

<style scoped>
#animeContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
#barsSection{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
</style>

<template>
  <div>
    <div id="animeContainer">
      <div v-for="character in characters" :key="character.id">
        <SuperheroCard :identifier="character.id" />
      </div>
    </div>
  </div>
</template>