<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import AnimeCharacterCard from "../../components/anime/AnimeCharacterCard.vue";
import animeAccessor from "../../../application/backend/data/AnimeAccessor";
import marvelAccessor from "../../../application/backend/data/MarvelAccessor";
@Component({
  components: {
    AnimeCharacterCard
  }
})
export default class AnimeContainer extends Vue {
  private characters: any[];

  constructor() {
    super();
    this.characters = [];
  }

  created() {
    this.getCharacters();
  }

  getCharacters() {
    this.characters = [];
    return animeAccessor
      .getAllCharacters()
      .then(response => (this.characters = response.data.data)
      );
  }
}
</script>

<style scoped>
#animeContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
#barsSection{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
</style>

<template>
  <div>
    <div id="animeContainer">
      <div v-for="character in characters" :key="character.id">
        <AnimeCharacterCard :identifier="character.id" />
      </div>
    </div>
  </div>
</template>