<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import MangaCard from "../../components/anime/MangaCard.vue";
import animeAccessor from "../../../application/backend/data/AnimeAccessor";

@Component({
  components: {
    MangaCard
  }
})
export default class MangaContainer extends Vue {
  private mangas: any[];

  constructor() {
    super();
    this.mangas = [];
  }

  created() {
    this.getMangas();
  }

  getMangas() {
    this.mangas = [];
    return animeAccessor
      .getAllMangas()
      .then(response => (this.mangas = response.data.data)
      );
  }
}
</script>

<style scoped>
#animeContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
#barsSection{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
</style>

<template>
  <div>
    <div id="animeContainer">
      <div v-for="manga in mangas" :key="manga.id">
        <MangaCard :identifier="manga.id" />
      </div>
    </div>
  </div>
</template>