<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import marvelAccessor from "../../../application/backend/data/MarvelAccessor";
import { Button, Card, Icon, Badge } from "iview";

@Component({
  components: { Button, Card, Icon, Badge }
})
export default class ComicCard extends Vue {
  @Prop() private identifier!: number;
  private name: string;
  private image: string;
  private description:string;

  constructor() {
    super();
    this.name = '';
    this.description = '';
    this.image = ``;
  }

  created() {
    this.getComic();
  }

  getComic() {
    return marvelAccessor
      .getComic(this.identifier)
      .then(
        response => (
          (console.log(response.data)),
          (this.name = response.data.data.results[0].title),
          (this.image = response.data.data.results[0].thumbnail.path+'.jpg')
        )
      );
  }
}
</script>

<style scoped>
#card {
  margin: 10px;
}
#cardHeadContent {
  display: flex;
}
#cardImage {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin: auto;
}
</style>

<template>
  <Card id="card">
    <div id="cardHeadContent">
      <h3>{{name}}</h3>
    </div>
    <div id="cardMediaContent">
        <img id="cardImage" v-bind:src="image" alt="cardImage" />
    </div>
    <div id="cardContent">
     <p>{{description}}</p>
    </div>
  </Card>
</template>