<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Sider, Menu, MenuItem, Icon, Badge } from "iview";

@Component({
  components: {
    Sider,
    Menu,
    MenuItem,
    Icon,
    Badge
  }
})
export default class Navbar extends Vue {
  @Prop() setCurrentPage!: any;
  @Prop() loggedIn!: boolean;
  private isCollapsed: boolean;

  constructor() {
    super();
    this.isCollapsed = true;
  }
}
</script>

<style scoped>
.menu-item span {
  display: inline-block;
  overflow: hidden;
  width: 69px;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
  transition: width 0.2s ease 0.2s;
}
.menu-item i {
  transform: translateX(0px);
  transition: font-size 0.2s ease, transform 0.2s ease;
  vertical-align: middle;
  font-size: 16px;
}
.collapsed-menu span {
  width: 0px;
  transition: width 0.2s ease;
}
.collapsed-menu i {
  transform: translateX(5px);
  transition: font-size 0.2s ease 0.2s, transform 0.2s ease 0.2s;
  vertical-align: middle;
  font-size: 22px;
}
#navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 100%;
}
#menu {
  height: 100%;
}
#loggedIn{
  display: flex;
  justify-content: flex-end;
  height: 100px;
  padding: 4px;
}
</style>

<template>
  <Sider id="navbar" :width="60">
    <Menu id="menu" active-name="1-1" theme="light" width="auto">
      <div id="loggedIn">
      </div>
      <MenuItem name="1-1">
      <div v-on:click="setCurrentPage('pokemonPage')">
        <Icon type="ios-egg"></Icon>
        </div>
      </MenuItem>
       <MenuItem name="1-2">
      <div v-on:click="setCurrentPage('animePage')">
       <Icon type="md-glasses" />
        </div>
      </MenuItem>
        <MenuItem name="1-3">
      <div v-on:click="setCurrentPage('comicPage')">
       <Icon type="ios-cube" />
        </div>
      </MenuItem>
    </Menu>
  </Sider>
</template>