<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PokemonPage from "./view/pages/PokemonPage.vue";
import Navbar from "./view/containers/Navbar.vue";
import AnimePage from "./view/pages/AnimePage.vue";
import ComicPage from "./view/pages/ComicPage.vue";

@Component({
  components: {
    PokemonPage,
    Navbar,
    AnimePage,
    ComicPage
  }
})
export default class App extends Vue {
  private currentUser: any;
  private loggedIn: boolean;
  private currentPage: string;

  constructor() {
    super();
    this.currentUser = {name: '', email: '', password: ''};
    this.loggedIn = false;
    this.currentPage = "loginPage";
  }

  setCurrentPage(page: string) {
    this.currentPage = page;
  }
}
</script>

<style>
</style>

<template>
  <div>
    <Navbar :loggedIn="loggedIn" :setCurrentPage="setCurrentPage" />
    <PokemonPage v-if="currentPage === 'pokemonPage'" />
     <AnimePage v-if="currentPage === 'animePage'" />
     <ComicPage v-if="currentPage === 'comicPage'" />
  </div>
</template>
