<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import animeAccessor from "../../../application/backend/data/AnimeAccessor";
import { Button, Card, Icon, Badge } from "iview";

@Component({
  components: { Button, Card, Icon, Badge }
})
export default class MangaCard extends Vue {
  @Prop() private identifier!: number;
  private name: string;
  private image: string;
  private description:string;

  constructor() {
    super();
    this.name = '';
    this.description = '';
    this.image = ``;
  }

  created() {
    this.getManga();
  }

  getManga() {
    return animeAccessor
      .getManga(this.identifier)
      .then(
        response => (
          (this.name = response.data.data.attributes.canonicalTitle),
          (this.image = response.data.data.attributes.posterImage.original),
          (this.description = response.data.data.attributes.synopsis.substring(0,50))
        )
      );
  }
}
</script>

<style scoped>
#card {
  margin: 10px;
}
#cardHeadContent {
  display: flex;
}
#cardImage {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: auto;
}
</style>

<template>
  <Card id="card">
    <div id="cardHeadContent">
      <h3>{{name}}</h3>
    </div>
    <div id="cardMediaContent">
        <img id="cardImage" v-bind:src="image" alt="cardImage" />
    </div>
    <div id="cardContent">
     <p>{{description}}</p>
    </div>
  </Card>
</template>