<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import AnimeContainer from "../containers/anime/AnimeContainer.vue";
import MangaContainer from "../containers/anime/MangaContainer.vue";
import {
  Button,
  Menu,
  MenuItem,
  Icon,
  Layout,
  Header,
  Content,
  Footer
} from "iview";

@Component({
  components: {
    AnimeContainer,
    MangaContainer,
    Button,
    Menu,
    MenuItem,
    Icon,
    Layout,
    Header,
    Content,
    Footer
  }
})
export default class AnimePage extends Vue {
  private currentView: string;

  constructor() {
    super();
    this.currentView = "characters";
  }
}
</script>

<style scoped>
h1 {
  margin-left: 45%;
}
#header {
  background-color: white;
}
#dashboard {
  margin: 15%;
  margin-top: 10px;
  min-height: 350px;
}
#menu {
  width: 100%;
}
</style>

<template>
  <div>
    <Layout>
      <Header id="header">
        <h1>Anime</h1>
      </Header>
      <Content>
        <div id="dashboard">
          <Menu id="menu" active-name="1" mode="horizontal">
            <MenuItem name="1">
              <div v-on:click="currentView = 'characters'">Characters</div>
            </MenuItem>
             <MenuItem name="2">
              <div v-on:click="currentView = 'manga'">Manga</div>
            </MenuItem>
          </Menu>
          <AnimeContainer v-if="currentView === 'characters'" />
          <MangaContainer v-if="currentView === 'manga'" />
        </div>
      </Content>
    </Layout>
  </div>
</template>
