<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import SuperheroContainer from "../containers/comics/SuperheroContainer.vue";
import ComicContainer from "../containers/comics/ComicContainer.vue";
import {
  Button,
  Menu,
  MenuItem,
  Icon,
  Layout,
  Header,
  Content,
  Footer
} from "iview";

@Component({
  components: {
    SuperheroContainer,
    ComicContainer,
    Button,
    Menu,
    MenuItem,
    Icon,
    Layout,
    Header,
    Content,
    Footer
  }
})
export default class ComicPage extends Vue {
  private currentView: string;

  constructor() {
    super();
    this.currentView = "superheroes";
  }
}
</script>

<style scoped>
h1 {
  margin-left: 45%;
}
#header {
  background-color: white;
}
#dashboard {
  margin: 15%;
  margin-top: 10px;
  min-height: 350px;
}
#menu {
  width: 100%;
}
</style>

<template>
  <div>
    <Layout>
      <Header id="header">
        <h1>Comics</h1>
      </Header>
      <Content>
        <div id="dashboard">
          <Menu id="menu" active-name="1" mode="horizontal">
            <MenuItem name="1">
              <div v-on:click="currentView = 'superheroes'">Superheroes</div>
            </MenuItem>
            <MenuItem name="2">
              <div v-on:click="currentView = 'comics'">Comics</div>
            </MenuItem>
          </Menu>
          <SuperheroContainer v-if="currentView === 'superheroes'" />
          <ComicContainer v-if="currentView === 'comics'" />
        </div>
      </Content>
    </Layout>
  </div>
</template>