<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import PokemonContainer from "../containers/pokemon/PokemonContainer.vue";
import BerriesContainer from "../containers/pokemon/BerriesContainer.vue";
import ItemsContainer from "../containers/pokemon/ItemsContainer.vue";
import {
  Button,
  Menu,
  MenuItem,
  Icon,
  Layout,
  Header,
  Content,
  Footer
} from "iview";

@Component({
  components: {
    PokemonContainer,
    BerriesContainer,
    ItemsContainer,
    Button,
    Menu,
    MenuItem,
    Icon,
    Layout,
    Header,
    Content,
    Footer
  }
})
export default class PokemonPage extends Vue {
  private currentView: string;

  constructor() {
    super();
    this.currentView = "pokemon";
  }
}
</script>

<style scoped>
h1 {
  margin-left: 45%;
}
#logoImage {
  width: 120px;
  height: 40px;
  margin-top: 15px;
  margin-left: 45%;
}
#header {
  background-color: white;
}
#dashboard {
  margin: 15%;
  margin-top: 10px;
  min-height: 350px;
}
#menu {
  width: 100%;
}
</style>

<template>
  <div>
    <Layout>
      <Header id="header">
      <h1>Pokemon</h1>
      </Header>
      <Content>
        <div id="dashboard">
          <Menu id="menu" active-name="1" mode="horizontal">
            <MenuItem name="1">
              <div v-on:click="currentView = 'pokemon'">Pokemon</div>
            </MenuItem>
            <MenuItem name="2">
              <div v-on:click="currentView = 'berries'">Berries</div>
            </MenuItem>
            <MenuItem name="3">
              <div v-on:click="currentView = 'items'">Items</div>
            </MenuItem>
          </Menu>
          <PokemonContainer v-if="currentView === 'pokemon'" />
          <BerriesContainer v-if="currentView === 'berries'" />
          <ItemsContainer v-if="currentView === 'items'" />
        </div>
      </Content>
    </Layout>
  </div>
</template>
