<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import pokemonAccessor from "../../../application/backend/data/PokemonAccessor";
import { Button, Card, Icon, Badge } from "iview";

@Component({
  components: { Button, Card, Icon, Badge }
})
export default class BerryCard extends Vue {
  @Prop() private name!: string;
  private upperCaseName: string;
  private image: string;
  private size: number;
  private smoothness: number;

  constructor() {
    super();
    this.size = 0;
    this.smoothness = 0;
    this.upperCaseName = "";
    this.image = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/berries/${this.name}-berry.png`;
  }

  created() {
    this.getBerry();
  }

  getBerry() {
    return pokemonAccessor
      .getBerry(this.name)
      .then(
        response => (
          (this.size = response.data.size),
          (this.smoothness = response.data.smoothness)
        )
      );
  }
}
</script>

<style scoped>
#card {
  margin: 10px;
}
#cardHeadContent {
  display: flex;
}
#cardImage {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: auto;
}
</style>

<template>
  <Card id="card">
    <div id="cardHeadContent">
      <Badge status="default" />
      <h3>{{name}}</h3>
    </div>
    <div id="cardMediaContent">
      <Badge :count="size" :offset="[65,5]" type="success">
        <img id="cardImage" v-bind:src="image" alt="cardImage" />
      </Badge>
    </div>
    <div id="cardContent">
      <p>{{smoothness}}</p>
    </div>
  </Card>
</template>