<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import pokemonAccessor from "../../../application/backend/data/PokemonAccessor";
import { Button, Card, Icon, Badge } from "iview";

@Component({
  components: { Button, Card, Icon, Badge }
})
export default class ItemCard extends Vue {
  @Prop() private name!: string;
  private image: string;
  private cost: number;
  private flingPower: number;

  constructor() {
    super();
    this.cost = 0;
    this.flingPower = 0;
    this.image = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/${this.name}.png`;
  }

  created() {
    this.getItem();
  }

  getItem() {
    return pokemonAccessor
      .getItem(this.name)
      .then(
        response => (
          (this.cost = response.data.cost),
          (this.flingPower = response.data.fling_power)
        )
      );
  }
}
</script>

<style scoped>
#card {
  margin: 10px;
}
#cardHeadContent {
  display: flex;
}
#cardImage {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: auto;
}
</style>

<template>
  <Card id="card">
    <div id="cardHeadContent">
      <Badge v-if="flingPower > 0" status="success" />
      <Badge v-else status="default" />
      <h3>{{name}}</h3>
    </div>
    <div id="cardMediaContent">
      <Badge :count="cost" :offset="[65,5]" type="warning">
        <img id="cardImage" v-bind:src="image" alt="cardImage" />
      </Badge>
    </div>
    <div id="cardContent">
      <p>{{cost}}</p>
      <p>{{flingPower}}</p>
    </div>
  </Card>
</template>