<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import pokemonAccessor from "../../../application/backend/data/PokemonAccessor";
import { Button, Card, Icon, Badge } from "iview";

@Component({
  components: { Button, Card, Icon, Badge }
})
export default class PokemonCard extends Vue {
  @Prop() private name!: string;
  private upperCaseName: string;
  private abilities: object[];
  private forms: object[];
  private image: string;

  constructor() {
    super();
    this.abilities = [];
    this.forms = [];
    this.image = "";
    this.upperCaseName = this.name.charAt(0).toUpperCase() + this.name.slice(1);
  }

  created() {
    this.getPokemon();
  }

  getPokemon() {
    return pokemonAccessor
      .getPokemon(this.name)
      .then(
        response => (
          (this.abilities = response.data.abilities),
          (this.forms = response.data.forms),
          (this.image = response.data.sprites.front_shiny)
        )
      );
  }
}
</script>

<style scoped>
#card {
  margin: 10px;
}
#cardHeadContent {
  display: flex;
}
#cardImage {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
}
#cardImage:hover{
  background-color:crimson;
}
#ability {
  color: crimson;
}
#abilitiesSection:first-child{
  background-color: crimson;
}
h3::first-letter{
  color:crimson;
}
h3::after{
  content: '~';
}
div[important]{
  background-color: crimson;
}
</style>

<template>
  <Card id="card">
    <div id="cardHeadContent">
      <Badge v-if="abilities.length > 2" status="processing" />
      <Badge v-else status="default" />
      <h3>{{upperCaseName}}</h3>
    </div>
    <div id="cardMediaContent">
      <Badge :count="abilities.length" :offset="[70,15]" type="info">
        <img id="cardImage" v-bind:src="image" alt="cardImage" />
      </Badge>
    </div>
    <div id="cardContent">
      <div id="abilitiesSection" v-for="ability in abilities" :key="ability.name">
        <p id="ability">
          <Icon type="ios-flash-outline" />
        </p>
      </div>
      <div important="true" id="formsSection">
        <div v-for="form in forms" :key="form.name">
          <p id="singleForm">
            <Icon type="ios-egg" />
            {{forms[0].name}}
          </p>
        </div>
      </div>
    </div>
    <Button></Button>
  </Card>
</template>