<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import BerryCard from "../../components/pokemon/BerryCard.vue";
import pokemonAccessor from "../../../application/backend/data/PokemonAccessor";

@Component({
  components: {
    BerryCard
  }
})
export default class BerriesContainer extends Vue {
  private berries: any[];

  constructor() {
    super();
    this.berries = [];
  }

  created() {
    this.getBerries();
  }

  getBerries() {
    this.berries = [];
    return pokemonAccessor
      .getAllBerries()
      .then(response => (this.berries = response.data.results));
  }
}
</script>

<style scoped>
#pokemonContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
#barsSection{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
</style>

<template>
  <div>
    <div id="pokemonContainer">
      <div v-for="berry in berries" :key="berry.name">
        <BerryCard :name="berry.name" />
      </div>
    </div>
  </div>
</template>