<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import ItemCard from "../../components/pokemon/ItemCard.vue";
import pokemonAccessor from "../../../application/backend/data/PokemonAccessor";

@Component({
  components: {
    ItemCard
  }
})
export default class ItemsContainer extends Vue {
  private items: any[];

  constructor() {
    super();
    this.items = [];
  }

  created() {
    this.getItems();
  }

  getItems() {
    this.items = [];
    return pokemonAccessor
      .getAllItems()
      .then(response => (this.items = response.data.results));
  }
}
</script>

<style scoped>
#pokemonContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
#barsSection{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
</style>

<template>
  <div>
    <div id="pokemonContainer">
      <div v-for="item in items" :key="item.name">
        <ItemCard :name="item.name" />
      </div>
    </div>
  </div>
</template>