<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import PokemonCard from "../../components/pokemon/PokemonCard.vue";
import pokemonAccessor from "../../../application/backend/data/PokemonAccessor";

@Component({
  components: {
    PokemonCard
  }
})
export default class PokemonContainer extends Vue {
  private pokemons: any[];

  constructor() {
    super();
    this.pokemons = [];
  }

  created() {
    this.getPokemons();
  }

  getPokemons() {
    this.pokemons = [];
    return pokemonAccessor.getAllPokemons().then(response => {
      this.pokemons = response.data.results;
    });
  }
}
</script>

<style scoped>
#pokemonContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
</style>

<template>
  <div>
    <div id="pokemonContainer">
      <div v-for="pokemon in pokemons" :key="pokemon.id">
        <PokemonCard :id="pokemon.id" :name="pokemon.name" />
      </div>
    </div>
  </div>
</template>